body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100vh;
}

.tool{
    position: absolute;
    display: none;
}

.text:focus~.tool,
.text:hover~.tool{display: block;}

.tool1{
    right: 0;
    top: -100%;
    transform: translateX(50%);
}
.tool2{
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
}