body{
    background: #ccc;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100%;
    max-width: 1000px;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem;
    height: 160px;
    width: 100%;
    background: #fafafa;
    border-bottom: 1px solid #ccc;
}
.item .img{
    height: 100%;
    width: 100px;
}
.item .img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.del{
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-gray{
    background: #f1f1f1;
}
.bg-white{
    background: #fafafa;
}

.btn.btn-success{
    background: #28a745;
}

