body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input.form-control{
    display: block;
    width: 40px;
    height: 60px;
    text-align: center;
}