body{background: url(./images/background.png);}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding: 0;
}

.fit-cover{
    width: 100%;
    object-fit: cover;
}

.row{
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    transition: left .35s ease;
}

.col-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.buttons{
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.buttons label{
    width: 40px;
    height: 60px;
    border: 1px solid #fafafa;
    color: #fafafa;
    cursor: pointer;
    font-size: 1.4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}
.buttons label:hover{
    background-color: rgba(250, 250, 250, .4);
}

#item1:checked~.wrap .row:nth-of-type(1){left: 0;}
#item1:checked~.wrap .row:nth-of-type(2){left: 100%;}
#item1:checked~.wrap .row:nth-of-type(3){left: 100%;}

#item2:checked~.wrap .row:nth-of-type(1){left: -100%;}
#item2:checked~.wrap .row:nth-of-type(2){left: 0;}
#item2:checked~.wrap .row:nth-of-type(3){left: 100%;}

#item3:checked~.wrap .row:nth-of-type(1){left: -100%;}
#item3:checked~.wrap .row:nth-of-type(2){left: -100%;}
#item3:checked~.wrap .row:nth-of-type(3){left: 0;}


#item1:checked~.wrap .buttons .left label:nth-of-type(1){display: flex;}
#item2:checked~.wrap .buttons .left label:nth-of-type(2){display: flex;}
#item3:checked~.wrap .buttons .left label:nth-of-type(3){display: flex;}

#item1:checked~.wrap .buttons .right label:nth-of-type(1){display: flex;}
#item2:checked~.wrap .buttons .right label:nth-of-type(2){display: flex;}
#item3:checked~.wrap .buttons .right label:nth-of-type(3){display: flex;}