body{
    background: url(./images/background.png);
    height: 100vh;
}

.container{
    height: 100%;
    position: relative;
}

.wrap{
    overflow: hidden;
}

.row{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 3rem;

    transition: transform .35s ease;
}

.col-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

img{
    object-fit: cover;
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}
.buttons label{
    border: 1px solid #fafafa;
    color: #fafafa;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;

    display: none;
}
.buttons label:active{
    background: rgba(254, 254, 254, .5);
}

#slide1:checked~.wrap .buttons .left label[for=""]{display: block;}
#slide2:checked~.wrap .buttons .left label[for="slide1"]{display: block;}
#slide3:checked~.wrap .buttons .left label[for="slide2"]{display: block;}

#slide1:checked~.wrap .buttons .right label[for="slide2"]{display: block;}
#slide2:checked~.wrap .buttons .right label[for="slide3"]{display: block;}
#slide3:checked~.wrap .buttons .right label[for=""]{display: block;}

/* #slide1:checked~.wrap .row:nth-of-type(1){left: 0;}
#slide1:checked~.wrap .row:nth-of-type(2){left: 100%;}
#slide1:checked~.wrap .row:nth-of-type(3){left: 100%;}

#slide2:checked~.wrap .row:nth-of-type(1){left: -100%;}
#slide2:checked~.wrap .row:nth-of-type(2){left: 0;}
#slide2:checked~.wrap .row:nth-of-type(3){left: 100%;}

#slide3:checked~.wrap .row:nth-of-type(1){left: -100%;}
#slide3:checked~.wrap .row:nth-of-type(2){left: -100%;}
#slide3:checked~.wrap .row:nth-of-type(3){left: 0;} */
#slide1:checked~.wrap .row:nth-of-type(1){transform: translate(0, -50%);}
#slide1:checked~.wrap .row:nth-of-type(2){transform: translate(100%, -50%);}
#slide1:checked~.wrap .row:nth-of-type(3){transform: translate(100%, -50%);}

#slide2:checked~.wrap .row:nth-of-type(1){transform: translate(-100%, -50%);}
#slide2:checked~.wrap .row:nth-of-type(2){transform: translate(0, -50%);}
#slide2:checked~.wrap .row:nth-of-type(3){transform: translate(100%, -50%);}

#slide3:checked~.wrap .row:nth-of-type(1){transform: translate(-100%, -50%);}
#slide3:checked~.wrap .row:nth-of-type(2){transform: translate(-100%, -50%);}
#slide3:checked~.wrap .row:nth-of-type(3){transform: translate(0, -50%);}